.headTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}

.headTitle .left h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
}

.detailsContainer{
    display: flex;
    gap: 15px;
    width: 100%;
    margin-bottom: 1.5rem;
    height: 270px;
}

.detailsChld{
    width: 40%;
    display: grid;
    gap:10px;
    grid-template-columns: repeat(2, 1fr);
    height: 270px;
}

.detailsChildTwo{
    width: 60%;
}

.form {
    padding: 25px;
}

.btnContainer{
    display: flex;
    justify-content: space-between;
}

