.notificationBox {
    position:absolute;
    right: -100%;
    width: 300px;
    max-height: 200px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 10;
    margin-top: 15px;
}

.notificationItem {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    color: #333;
}