.tableData {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: var(--dark);
}

.tableData>div {
    border-radius: 20px;
    background: var(--light);
    padding: 0px 24px 24px 24px;
    max-height: 50vh;
    overflow-y: scroll;
}

.tableData .head {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 14px;
    padding-top: 24px;
}

.tableData .head h3 {
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}

.tableData .head .bx {
    cursor: pointer;
}

.tableData .order {
    flex-grow: 1;
    flex-basis: 500px;

}

.tableData .order table {
    width: 100%;
    border-collapse: collapse;
}

.tableData .order table th {
    padding-bottom: 12px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid var(--grey);
}

.tableData .order table th:hover{
    background-color: var(--grey);
}

.tableData .order table td {
    padding: 16px 0;
    cursor: pointer;
}

.tableData .order table tr td:first-child {
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
}

.tableData .order table td img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.tableData .order table tbody tr:hover {
    background: var(--grey);
}

.tableData .order table tr td .statusCompleted{
    background: var(--blue);
}

.tableData .order table tr td .status.process {
    background: var(--yellow);
}

.tableData .order table tr td .status.pending {
    background: var(--orange);
}

.tableData .highLight{
    font-size: 10px;
    padding: 6px 16px;
    color: var(--light);
    border-radius: 20px;
    font-weight: 700;
}

.table{
    position: relative;
}

.tableHeader{
    position: sticky;
    top:-1px;
    z-index: 1;
    background-color: var(--light);
    height: 30px;
}

.padTop{
    padding-top: 10px;
    cursor: pointer;
    padding-right: 15px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.thIcon{
    margin-right: 15px;
    position: absolute;
    right: 0;
}

.noButton{
    width: 100%;
    height: 100%;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline-offset: 5px;    
    text-align: left;                    
}

.LOW {

    background: var(--blue);
}

.MEDIUM {

    background: var(--yellow);
}

.HIGH {

    background: var(--orange);
}

.OPEN{

    background: var(--blue);
}
.UNDER_REVIEW{
    background: var(--purple);
}

.IN_PROGRESS{
    background: var(--yellow);
}

.COMPLETED{
    background: var(--green);
}

.CLOSED{
    background: var(--brown);
}