.container {
    padding: 24px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
}

.container .bx {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue {
    background: var(--light-blue);
    color: var(--blue);
}

.yellow {
    background: var(--light-yellow);
    color: var(--yellow);
}

.orange {
    background: var(--light-orange);
    color: var(--orange);
}

.green {
    background: var(--light-green);
    color: var(--green);
}

.container .text h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--dark);
}

.container .text p {
    color: var(--dark);
}