.container{
    background-color: white;
    width: 35%;
    height: 550px;
    border-radius: 25px;
    padding: 15px;
}

.container h2{
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 10px;
}

.ulContainer{
    height: 90%;
    overflow-y: auto;
}

.liContainer{
    padding: 5px;
    display: flex;
    height: 50px;
    cursor: pointer;
    margin-bottom: 10px;
}

.liContainer:hover{
    background-color: var(--grey);
    border-radius: 5px;
}

.liImage img {
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.liInfo div span{
    
    font-weight: 600;
}

.liInfo{
    width: 100%;
}

.smallTxt{
    font-size: 0.5em;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: var(--light-blue);
    padding: 4px;
    border-radius: 20px;
}

.messageInfo{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.liInfo p{
    font-weight: 400;
    font-size: 13px;
}