.buttonSkeleton{
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    font-weight: 500;
    cursor: pointer;
    border: none;
}

.small{
    height: 15px;
    padding: 7px 7.5px;
    border-radius: 15px;
}

.medium{
    height: 36px;
    padding: 0 16px;
    border-radius: 36px;
}

.large{
    height: 46px;
    padding: 0 26px;
    border-radius: 46px;
}

.buttonSkeleton:disabled {
    background-color: var(--grey-d-1);
    color: var(--grey-l-1);
    cursor: not-allowed;
    opacity: 0.6;
}

.buttonIcon{
    display: flex;
}

.orange{
    background-color: var(--orange);
}

.orange:focus {
    outline: 5px solid var(--light-orange);
    animation: orangeRingAnimation 1s ease-out infinite;
}

.yellow{
    background-color: var(--yellow);
}

.yellow:focus {
    outline: 5px solid var(--light-yellow);
}

.blue{
    background-color: var(--blue);
}

.blue:focus {
    outline: 5px solid var(--light-blue);
}

.green{
    background-color: var(--green);
}

.green:focus {
    outline: 5px solid var(--light-green);
    animation: greenRingAnimation 1s ease-out infinite;
}

.red {
    background-color: var(--redd);
}

.red:focus {
    outline: 5px solid var(--light-red);
    animation: redRingAnimation 1s ease-out infinite;

}

@keyframes redRingAnimation {
    0% {
        box-shadow: 0 0 0 0 var(--redd);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(0, 123, 255, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
    }
}

@keyframes greenRingAnimation {
    0% {
        box-shadow: 0 0 0 0 var(--green);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(0, 123, 255, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
    }
}

@keyframes orangeRingAnimation {
    0% {
        box-shadow: 0 0 0 0 var(--orange);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(0, 123, 255, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
    }
}