.formGroup {
    margin-bottom: 1.5rem;
}

.formGroup select{
    width: 100%;
    padding: .75rem 1rem;
    border: 1px solid var(--grey-d-1);
    outline: none;
    border-radius: .25rem;
    font-size: 1rem;
}

.formGroup select:disabled {
    color: var(--grey-d-1);
    cursor: not-allowed;
    opacity: 0.6;
}

.formGroup label {
    display: inline-block;
    margin-bottom: .25rem;
}

label.required::after {
    content: ' *';
    color: var(--red);
}

.options {
    background-color: #fff;
}

.medium, .in_progress {
    background-color: var(--light-yellow) !important;
}

.low, .open {
    background-color: var(--light-blue) !important;
}

.high {
    background-color: var(--light-orange) !important;
}

.under_review{
    background-color: var(--light-purple) !important;
}

.completed{
    background-color: var(--light-green) !important;
}

.closed{
    background-color: var(--light-brown) !important;
}